@font-face {
  font-family: "Cuprum";
  font-display: swap;
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  font-display: swap;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  font-display: swap;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  font-display: swap;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

/* variables */
:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-bg: #F1F5F7;
  --basic-bg-dark: #293449;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #32425C;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;

  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --click: #161D29;
  --buy-click: #518534;
  --bookmark-click: #D8D8D8;
  --hover: #CA2C37;
  --line-through: #A9A9A9;
  --nav-click: #1D2739;
  --greylight: #EAEAEA;
  --bg-section: #F9F5F0;
  --address: #F3F7F9;
  --bg-icon: #212A3A;
  --modal: #F4F4F4;
  --filter-bg: #F7F3EC;
}

/* global */
.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-width: 940px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page__body a {
  text-decoration: none;
}

.page__body img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page__body ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* containers */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  height: 42px;
  background-color: var(--basic-bg-dark);
}

.header .container:nth-child(2) {
  padding: 46px 15px 60px 15px; /* padding top right bottom left */
}

/* header */
.header {
  display: grid;
  grid-template-rows: 1fr min-content;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: var(--basic-bg);
  text-transform: none;
  margin-bottom: 59px;
}

.header__inner {
  margin-bottom: 15px;
}

.header__top {
  display: flex;
}

.logo {
  position: relative;
  background-color: var(--basic-red);
  padding: 9px 56px;
}

.logo:active {
  background-color: var(--error);
}

.logo::after {
  content: "";
  position: absolute;
  top: 42px;
  left: 0px;
  width: 220px;
  height: 5px;

  background-color:  var(--error);
}

.logo__img {
  fill: var(--basic-white);
  vertical-align: middle;
  width: 108px;
  height: 18px;
}

/* header search */
.header__search {
  position: relative;
  max-width: 270px;
}

.header__search__input {
  width: 230px;
  border: none;
  color: var(--basic-white);
  background-color: transparent;
  outline: none;
  padding: 11px 0 11px 42px;
}

.header__search__input::placeholder {
  color: var(--basic-white);
}

.header__search__input:focus::placeholder,
.header__search__input:active::placeholder {
  color: var(--basic-black);
}

.header__search__input:focus,
.header__search__input:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header__search__icon {
  content: "";
  position: absolute;
  top: 11px;
  left: 17px;
  width: 17px;
  height: 17px;
  fill: var(--basic-white);
  opacity: .3;
}

.header__search:hover .header__search__icon {
  opacity: 1;
}

.header__search__input:focus + .header__search__icon,
.header__search__input:active + .header__search__icon {
  fill: var(--basic-red);
  opacity: 1;
}

/* header carts */
.header__carts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  max-width: 450px;
  padding: 0;
  margin: 0;
}

.header__carts a {
  color: var(--basic-white);
}

.header__carts .active {
  background-color: var(--basic-red);
}

.header__cart:active {
  background-color: var(--click);
}

.header__cart--bookmark {
  padding: 11px 25px 11px 42px;
}

.header__cart--bookmark::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  opacity: .3;

  background-image: url('../img/icons/icon-bookmark.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header__cart--bookmark:hover::before {
  opacity: 1;
}

.header__cart--basket {
  padding: 11px 29px 11px 47px;
}

.header__cart--basket--catalog {
  padding: 11px 26px 11px 45px;
}

.header__cart--basket::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 176px;
  width: 14px;
  height: 16px;
  opacity: .3;

  background-image: url('../img/icons/icon-cart.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header__cart--basket:hover::before {
  opacity: 1;
}

.header__cart--arrange {
  padding: 11px 16px 11px 19px;
  background-color: var(--basic-green);
}

.header__cart--arrange:hover,
.header__cart--arrange:focus {
  background-color: var(--success);
}

.header__cart--arrange:active {
  background-color: var(--basic-green);
}

/* header info */
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
}


.header__text {
  width: 250px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: var(--basic-red);
  margin: 0;
  padding-left: 30px;
  padding-bottom: 12px;
}

/* header contact */
.header__contact {
  text-align: center;
  padding-bottom: 5px;
}

.header__contact--catalog {
  padding-bottom: 7px;
}

.header__phone {
  position: relative;
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-right: 50px;
  padding-left: 73px;
}

.header__phone::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 38px;
  width: 19px;
  height: 19px;
  background-image: url('../img/icons/icon-phone.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header__address {
  margin: 0;
  font-size: 14px;
  color: var(--basic-blue);
}

/* header user profile */
.header__user {
  padding-bottom: 5px;
  margin-left: 10px;
}

.user__profile {
  display: flex;
  align-items: center;
  background-color: var(--basic-white);

  margin-bottom: 4px;
}

.user__icon {
  width: 20px;
  height: 18px;
  fill: #C5C5C5;
  padding: 13px 21px 13px 15px;
}

.user__link {
  display: flex;
  align-items: center;
}

.user__name {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin: 0;
  padding: 13px 7px 13px 0;
}

.user__link:hover .user__icon,
.user__name:hover .user__icon,
.user__link:focus .user__icon,
.user__name:focus .user__icon {
  fill: var(--basic-grey);
}

.user__link:active .user__icon {
  fill: var(--basic-greylight);
}

.user__name:active {
  color: var(--basic-greylight);
}

.user__btn {
  font-size: 16px;
  text-align: center;
}

.user__btn a {
  color: var(--basic-blue);
}

.user__btn a:nth-child(2) {
  position: relative;
  margin-left: 27px;
}

.user__btn a:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 8px;
  left: -18px;
  border-radius: 50%;
  background-color: var(--basic-blue);
}

.user__btn a:hover,
.user__btn a:focus {
  color: var(--basic-red);
}

.user__btn a:active {
  color: var(--basic-greylight);
}

.header__logout--icon {
  width: 20px;
  height: 17px;
  fill: #C5C5C5;
  padding: 7px 16px 0 14px;
}

.header__logout--btn:hover .header__logout--icon,
.header__logout--btn:focus .header__logout--icon {
  fill: var(--basic-grey);
}

.header__logout--btn:active .header__logout--icon {
  fill: var(--basic-greylight);
}

/* header btn */
.header__btn {
  position: relative;
  padding-bottom: 35px;
  margin-left: 26px;
}

.header__btn a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header__btn a:hover,
.header__btn a:focus {
  color: var(--basic-red);
}

.header__btn a:active {
  color: var(--basic-greylight);
}

.header__btn--login {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 47px;
  padding-right: 28px;

  margin-right: 5px;
}

.header__btn--icon {
  content: "";
  position: absolute;
  top: 2px;
  left: 20px;
  width: 21px;
  height: 17px;

  fill: var(--basic-greylight);
}

.header__btn--login:hover + .header__btn--icon,
.header__btn--login:focus + .header__btn--icon {
  fill: var(--basic-grey);
}

.header__btn--login:active + .header__btn--icon {
  fill: var(--basic-greylight);
}

.header__btn--reg {
  padding: 12px 24px;
}

/* header nav */
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: var(--basic-blue);
  border-bottom: 5px solid var(--basic-bg-dark);
}

.navigation__items {
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation__link {
  color: var(--basic-white);
  padding-top: 17px;
  padding-bottom: 22px;
  padding-right: 28px;
  padding-left: 28px;
}

.navigation__link:hover,
.navigation__link:focus {
 background-color: var(--basic-bg-dark);
}

.navigation__link:active {
  opacity: .5;
  background-color: var(--nav-click);
}

/* main grid */
 .main__grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: repeat(3, min-content);
  margin-bottom: 59px;
}

/* title */
.title {
  order: 1;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-bg);
  padding: 30px 0 30px 29px;
  margin: 13px 0 19px 0;
}

/* breadcrumbs */
.breadcrumbs {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0 0 4px 0;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -24px;

  width: 8px;
  height: 14px;

  background-image: url('../img/icons/icon-right-small.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__icon {
  width: 14px;
  height: 12px;
  fill: #C1C6CE;
}

.breadcrumbs__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
}

/* filters */
.filters {
  max-width: 220px;
}

.filters__title,
.filter__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--filter-bg);
}

.filters__title {
  padding: 10px 151px 10px 18px;
  margin: 0 0 15px 0;
}

/* cards filter */
.cards__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 38px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  margin: 0 0 32px 20px; /* margin bottom left */
  background-color: var(--filter-bg);
}

.cards__filter h3 {
  margin-left: 19px;
}

.cards__filters__items {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  padding: 0;
  margin: 0;
}

.cards__filters__item:nth-child(2) {
  margin-left: 70px;
}
.cards__filters__item:nth-child(3) {
  margin-left: 65px;
}
.cards__filters__item:nth-child(4) {
  margin-left: 46px;
}
.cards__filters__item:nth-child(5) {
  margin-right: 15px;
  margin-left: 19px;
}

.cards__filters__item:nth-child(4) .cards__filters__link,
.cards__filters__item:nth-child(5) .cards__filters__link {
  border-bottom: none;
}

.cards__filters__link {
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);
  color: rgba(0, 0, 0, .3);
}

.cards__filters__link:hover,
.cards__filters__link:focus {
  color: var(--basic-black);
}

.cards__filters__link:active {
  border-bottom: none;
  color: var(--basic-red);
}

.cards__filters__link--active {
  border-bottom: none;
  color: var(--basic-red);
}

/* form filter */
.filter {
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter fieldset {
  border: none;
  padding: 0;
}

.filter fieldset:nth-child(1),
.filter fieldset:nth-child(2) {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.filter fieldset:nth-child(1) {
  margin: 0 0 16px 0; /* margin bottom */
}

.filter fieldset:nth-child(2) {
  padding-bottom: 10px;
  margin-bottom: 17px;
}

.filter fieldset:nth-child(3) {
  margin: 0 0 35px 0; /* margin bottom */
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter__title--price {
  margin-bottom: 11px;
}

.filter__title--company {
  margin-bottom: 15px;
}

.filter__title--power {
  margin-bottom: 20px;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
}

.filter__btn {
  padding: 10px 79px;
  cursor: pointer;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  background-color: transparent;
}

.filter__btn:hover,
.filter__btn:focus {
  border-color: var(--basic-greylight);
}

.filter__btn:active {
  border-color: var(--basic-red);
}

/* filter range*/
.filter__range__wrap {
  width: 220px;
}

.filter__range__controls {
  position: relative;
  padding: 39px 20px 39px 20px;
  margin-bottom: 9px;

  background-color: var(--filter-bg);
}

.filter__range__scale {
  height: 2px;
  background-color: var(--basic-greylight);
}

.filter__range__bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-green);
}

.filter__range__toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  padding: 0;
  cursor: grab;

  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  background-color: #ababab;
}

.filter__range__toggle:active {
  cursor: grabbing;
}

.filter__range__toggle--min {
  left: 18px;
}

.filter__range__toggle--max {
  right: 40px;
}


.filter__range input[type="text"] {
  width: 95px;
  height: 38px;
  text-align: center;
  background-color: var(--filter-bg);
  border: none;
}

.filter__range input[type="text"]:focus::placeholder {
 opacity: 0;
}

.filter__range__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__range__price input {
  padding: 0;
  width: 95px;
}

.filter__range__price input:focus {
  outline: none;
}

.filter__range__price span {
  width: 10px;
  height: 1px;
  background-color: #444444;
}

/* filter checkbox */
.filter__checkbox {
  padding: 0;
  margin: 0;
}

.filter__option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter__option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter__checkbox__input:disabled + label {
  opacity: .4;
  cursor: default;
}

.filter__checkbox__input + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-greylight);
  border-radius: 4px;
}

.filter__checkbox__input:hover + label::before,
.filter__checkbox__input:focus + label::before {
  border-color: #b5b5b5;
}

.filter__checkbox__input:disabled + label::before {
  border-color: #b5b5b5;
  opacity: .3;
}

.filter__checkbox__input:checked + label::before {
  width: 27px;
  height: 23px;
  border: none;
  background-image: url('../img/icons/checkbox-on.svg');
}

.filter__checkbox__input:checked:hover + label::before,
.filter__checkbox__input:checked:focus + label::before {
  width: 27px;
  height: 23px;
  border: none;
  background-image: url('../img/icons/checkbox-on-hover.svg');
}

.filter__checkbox__input:checked:disabled + label::before {
  width: 27px;
  height: 23px;
  opacity: 1;
  border: none;
  background-image: url('../img/icons/checkbox-on-disabled.svg');
}

/* filter radio */
.filter__radio {
  padding: 0;
  margin: 0;
}

.filter__radio__item {
  margin-bottom: 25px;
}

.filter__radio__item:last-child {
  margin-bottom: 3px;
}

.filter__radio__input:disabled + label {
  opacity: .4;
}

.filter__radio__input + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 4px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
}

.filter__radio__input:hover + label::before,
.filter__radio__input:focus + label::before {
  border-color: #b5b5b5;
}

.filter__radio__input:disabled + label::before {
  border-color: #b5b5b5;
  opacity: .3;
  cursor: default;
}

.filter__radio__input:checked + label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 12px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}

.filter__radio__input:hover + label::after,
.filter__radio__input:focus + label::after {
  background-color: #b5b5b5;
}

.filter__radio__input:disabled + label::after {
  background-color: #b5b5b5;
  opacity: .3;
  cursor: default;
}


/* product */
.product {
  margin-bottom: 59px;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
  color: var(--basic-white);
  padding: 0;
  margin: 0;
}

.product__item {
  position: relative;
  width: 260px;
  height: 83px;
  padding: 20px 17px 20px 23px;
  overflow: hidden;
}

.product__item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--special-yellow);

  background-image: url('../img/product/icon-material.svg');
  background-position: 83% 51%;
  background-repeat: no-repeat;
}

.product__item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--special-blue);

  background-image: url('../img/product/icon-tool.svg');
  background-position: 86% 53%;
  background-repeat: no-repeat;
}

.product__item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: var(--special-lilac);

  background-image: url('../img/product/icon-tech.svg');
  background-position: 86% 50%;
  background-repeat: no-repeat;
}

.product__item:nth-child(3) > .product__btn {
  padding: 10px 29px;
}

.product__item:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: var(--special-greenlight);

  background-image: url('../img/product/icon-sale.svg');
  background-position: 81% 51%;
  background-repeat: no-repeat;
}

.product__item:nth-child(4) > .product__btn {
  padding: 10px 23px;
}

.product__item:nth-child(4) > .product__title {
  margin-bottom: 18px;
}

.product__item:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: var(--special-yellow);

  background-image: url('../img/product/icon-delivery.svg');
  background-position: 86% 52%;
  background-repeat: no-repeat;
}

.product__item:nth-child(5) > .product__btn {
  padding: 11px 37px;
}

.product__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
  margin: 0 0 20px 0; /* margin bottom */
}

.product__btn {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  padding: 10px 25px;
  background-color: rgba(255, 255, 255, .3);
}

.product__btn:hover,
.product__btn:focus {
  background-color: rgba(197, 197, 197, .3);
}

.product__btn:active {
  background-color: rgba(169, 169, 169, .3);
}

/* product sliders */
.product__sliders {
  grid-column: 1 / 3;
  grid-row: 2 / 4;

  position: relative;
}

.product__slider__list {
  padding: 0;
  margin: 0;
}

.product__slider__items {
  display: none;
  width: 570px;
  height: 216px;
  padding: 24px 26px 26px 24px;

  background-image: url('../img/slider-1.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.product__slider__items:nth-child(1) {
  background-image: url('../img/slider-2.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider__active {
  display: block;
}

.product__slider__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 0 5px 0; /* margin bottom */
}

.product__slider__text {
  text-transform: none;
  margin: 0;
}

.product__slider__btn {
  position: absolute;
  top: 46%;
  width: 23px;
  height: 41px;
  cursor: pointer;

  border: none;
  background-color: transparent;
}

.slider__btn--back {
  left: 24px;
  background-image: url('../img/icons/icon-left.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider__btn--forward {
  right: 20px;
  background-image: url('../img/icons/icon-left.svg');
  background-position: 0 0;
  background-repeat: no-repeat;

  transform: rotate(180deg);
}

.product__slider__bullet {
  display: flex;
  position: absolute;
  bottom: 13%;
  left: 48%;

  padding: 0;
  margin: 0;
}

.bullet__item {
  position: relative;
  width: 10px;
  height: 10px;
  cursor: pointer;

  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.bullet__item:last-child {
  margin-right: 0;
}

.bullet__item--active::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;

  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: var(--basic-red);
}

.btn--slider {
  position: absolute;
  bottom: 27px;
  left: 24px;
  line-height: 38px;
  padding: 10px 46px;
}

/* label new */
.new::after {
  content: "NEW";
  position: absolute;
  top: 7px;
  right: -29px;
  padding: 6px 40px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  transform: rotate(45deg);
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

/* button */
.btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--hover);
}

.btn:active {
  background-color: var(--error);
}

/* cards */
.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  align-items: center;


  padding: 0;
  margin: 0 0 46px 20px; /* margin bottom, left */

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
}

.cards__list--preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 69px;
}


.section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-section);
  margin-bottom: 20px;
}

.section__title h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  padding-left: 28px;
  margin: 30px 0 28px 0;
}

.btn--title {
  width: 192px;
  height: 38px;
  line-height: 38px;
  margin-right: 14px;
  text-align: center;
}

/* card */
.card {
  position: relative;
  overflow: hidden;

  max-width: 220px;
  padding: 8px 0 21px 0;
  border: 1px solid var(--greylight);
  text-align: center;
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card__wrapper {
  width: 220px;
  height: 142px;
}

.card__wrapper--btn {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 6px;
}

.card:hover .card__wrapper--btn {
  opacity: 1;
}

.card:hover .card__wrapper--img {
  opacity: 0;
}

.card__img {
  margin: 27px auto auto 11px;
}

.card__img--big {
  padding-top: 6px;
  padding-left: 6px;
}

.card__title {
  text-transform: none;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0 30px;
  margin: 0 0 10px 0; /* margin bottom */
}

.card__price {
  text-decoration: line-through;
  color: var(--line-through);
  margin: 0 0 12px 0; /* margin bottom */
}

.card__btn {
  position: relative;
  width: 122px;
  height: 38px;
  border-radius: 2px;
  font-size: 17px;
}

.card__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
	border-top: 19px solid transparent;
	border-left: 17px solid var(--basic-red);
	border-bottom: 19px solid transparent;
}

.card__btn:hover::after,
.card__btn:focus::after {
  border-left: 17px solid var(--hover);
}

.card__btn:active::after {
  border-left: 17px solid var(--error);
}

.card__buy {
  position: relative;

  padding: 8px 40px 8px 52px;
  margin-bottom: 10px;

  text-transform: uppercase;
  background-color: var(--basic-green);
  border-radius: 2px;
  border-bottom: 3px solid var(--buy-click);
}

.card__buy:hover,
.card__buy:focus {
  background-color: var(--success);
}

.card__buy:active {
  background-color: var(--buy-click);
}

.card__buy::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 30px;
  width: 15px;
  height: 15px;
  opacity: .3;

  background-image: url('../img/icons/icon-cart.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.card__bookmark {
  padding: 7px 30px;

  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.card__bookmark:hover,
.card__bookmark:focus {
  border-color: var(--basic-blue);
  background-color: var(--basic-white);
}

.card__bookmark:active {
  color: var(--bookmark-click);
  border-color: var(--bookmark-click);
  background-color: var(--basic-white);
}

/* company */
.company {
  margin-bottom: 70px;
}

.company__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
}

.company__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  border: 1px solid var(--greylight);
}

.company__item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.company__item:active {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  opacity: .5;
}

/* services */
.services {
  padding-top: 36px;
  padding-bottom: 100px;
  background-color: var(--basic-bg);
}

.services__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  margin-bottom: 25px;
}

.services__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
  text-transform: none;
  margin: 0 45% 70px 0; /* margin right bottom*/
}

/* services__sliders */
.services__sliders {
  display: grid;
  grid-template-columns: 240px 1fr;
  align-items: center;
  height: 185px;
}

.services__slider:nth-child(1) {
  position: relative;
  width: 240px;
  grid-column: 1 / 2;
  background-color: var(--basic-blue);
  padding: 0;
  margin: 0;
}

.services__slider:nth-child(1)::after {
  content: "";
  position: absolute;
  top: -47px;
  right: 0;
  width: 10px;
  height: 279px;

  background-image: url('../img/services/gradient.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__slider:nth-child(2) {
  grid-column: 2 / -1;
  position: relative;
  padding: 0;
  margin: 0 0 0 80px;
}

.services__slider__content {
  display: none;
  margin-bottom: 29px;
}

.services__slider__content:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 1px;
  width: 468px;
  height: 261px;

  background-image: url('../img/services/delivery.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__slider__content:nth-child(2)::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -87px;
  width: 468px;
  height: 261px;
  background-image: url('../img/services/guarantee.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__slider__content:nth-child(3)::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -13px;
  width: 468px;
  height: 261px;
  background-image: url('../img/services/credit.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__slider--active {
  display: block;
}

.services__slider__content h3,
.services__slider__content p {
  margin: 0;
}

.services__slider__content h3 {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-blue);
}

.services__slider__content:nth-child(2) h3 {
  margin-bottom: 24px;
}

.services__slider__content p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: var(--basic-black);

  margin-right: 50%;
}

.services__slider__btn {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: inherit;
  text-align: left;

  padding: 14px 22px 18px 22px;
}

.services__slider__btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-bg-dark);
}

.services__slider__btn:active,
.services__slider__btn:focus {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.services__slider__btn--active {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.btn--credit {
  text-transform: uppercase;

  border-radius: 2px;
  padding: 10px 45px;
  margin-top: 24px;
}

/*grid */
.grid {
  display: grid;
  grid-template-columns:1fr 300px;
  margin: 47px auto 72px auto; /* margin top bottom */
}

/* about */
.about {
  grid-column: 1 / 2;
}

.about,
.contact {
  color: var(--basic-black);
}

.about h2,
.contact h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 24px;
}

.about p,
.contact p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.contact p {
  line-height: 24px;

  margin-right: 15px;
}

.about__text {
  margin: 0 140px 2px 0;
}

.about .about__partners {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  padding: 0;
  margin: 0;
}

.about__item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.about__item:last-child {
  margin-bottom: 20px;
}

.about__item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  margin-right: 12px;
  background-color: var(--basic-red);
}

.about__item:nth-child(2)::before {
  top: 42px;
}

.about__item:nth-child(3)::before {
  top: 74px;
}

.btn--about {
  line-height: 38px;
  padding: 11px 41px;
}

/* contact */
.contact p {
  margin-top: 0;
  margin-bottom: 31px;
}

.contact__map {
  display: block;
  margin-bottom: 25px;
}

.btn--contact {
  line-height: 38px;
  padding: 11px 61px;
}

/* pagination */
.pagination {
  grid-column: 2 / -1;
  grid-row: 5 / 6;
  display: flex;
  padding: 0;
  margin: 0 0 0 20px; /* margin left */
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 8px;
}

.pagination__item:last-child {
  width: 140px;
  height: 38px;
  margin-right: 0;
}

.pagination__item:hover,
.pagination__item:focus {
  border-color: var(--basic-greylight);
}

.pagination__item:active {
  border-color: var(--basic-red);
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  width: 38px;
  height: 38px;
  color: var(--basic-black);
}

.pagination__active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* description */
.description {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  color: var(--basic-black);
  background-color: var(--basic-bg);
  padding: 64px 0 70px 0;
}

.description h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.description p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
}

/* footer */
.footer {
  text-transform: none;
}

.footer__top {
  background-color: var(--basic-blue);
}

.footer__top--grid {
  display: grid;
  grid-template-columns: 350px 1fr 1fr;
  grid-template-rows: 90px 1fr;
}

.footer__logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer__nav {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0 0 0;
  margin: 0;
}

.nav__item {
  margin-left: 58px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  color: var(--basic-bg)
}

.footer__address {
  font-style: normal;
  color: var(--address);

  padding: 1px 0 0 2px;
  margin-bottom: 54px;
}

/* footer subnav */
.footer__subnav {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 6px 0 0 0;
  margin: 0;
}

.subnav__item {
  margin-left: 59px;
}

.subnav__item:first-child {
  margin-left: 0;
}

.subnav__link {
  color: var(--special-yellowlight);
}

.nav__link:hover,
.nav__link:focus,
.subnav__link:hover,
.subnav__link:focus {
  text-decoration: underline;
}


.nav__link:active,
.subnav__link:active {
  text-decoration: none;
  opacity: .5;
}

/* footer bottom */
.footer__bottom {
  padding: 30px 0 30px 0;
  background-color: var(--basic-bg-dark);
}

.footer__bottom--grid {
  display: flex;
  align-items: center;
}

.footer__copyright {
  width: 100%;

  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0 40px 0 0; /* margin right */
}

/* social */
.social {
  display: flex;
  padding: 0;
  margin: 0;
}

.social__icon:nth-child(2) {
  margin: 0 1px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--bg-icon);
  border-radius: 50%;
}

.social__link:hover {
  background-color: var(--basic-red)
}

.social__vk {
  display: block;
  fill: #fff;
  height: 16px;
}

.social__fb {
  display: block;
  fill: #fff;
  height: 22px;
}

.social__inst {
  display: block;
  fill: #fff;
  height: 21px;
}

.footer__contact {
  margin-left: 118px;
}

.footer__developer {
  margin-left: 53px;
  padding-right: 12px;
}

.footer__contact,
.footer__developer {
  font-size: 16px;
  color: var(--basic-white);
  margin-top: 0;
  margin-bottom: 0;
}

.footer__contact a,
.footer__developer a {
  color: var(--special-yellowlight);
}

.footer__contact a:hover,
.footer__developer a:hover,
.footer__contact a:focus,
.footer__developer a:focus {
  text-decoration: underline;
}


.footer__contact a:active,
.footer__developer a:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


/* madal map */
.modal__map {
  display: none;
  width: 943px;
  top: 18%;
  bottom: auto;
  right: 1%;

  border-top: 7px solid var(--basic-red);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modal__map--active {
  display: block;
  animation: activeForm .3s;
}

.modal__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

/* form */
.form {
  display: none;
  width: 620px;
  top: 20%;
  bottom: auto;
  right: 1%;

  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  text-transform: none;
}

.form--active {
  display: block;
  animation: activeForm .2s;
}

.form input {
  height: 40px;
}

.form input,
.form textarea {
  border: 2px solid var(--line-through);
  border-radius: 2px;
  margin-top: 9px;
}


.form input::placeholder,
.form textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--line-through);
  padding-left: 9px;
}

.form__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 73px 1fr;
  gap: 20px;
  margin-bottom: 5px;
  padding: 37px 80px;
}

.form .form__error {
  border-color: var(--basic-red);
  animation: shakeInput .2s;
}

.form__name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.form__email {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.form__name,
.form__email {
  padding-top: 5px;
  padding-left: 1px;
}

.form__message {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  padding-left: 1px;
}

.form__bottom {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 112px;
  background-color: var(--modal);
}

.btn--submit {
  width: 460px;
  height: 38px;
  text-transform: uppercase;
}

.btn--close {
  position: absolute;
  top: 15px;
  right: 22px;

  width: 21px;
  height: 21px;

  border: none;
  background-color: transparent;
}

.btn--close:hover,
.btn--close:focus,
.btn--close:active {
  background-color: transparent;
}

.btn--close::before,
.btn--close::after {
  content: "";
  position: absolute;

  width: 25px;
  height: 3px;

  background-color: var(--basic-red);
}

.btn--close::before {
  transform: rotate(45deg);
}

.btn--close::after {
  transform: rotate(-45deg);
}


/* popup */
.popup {
  display: flex;
  flex-direction: column;

  display: none;
  top: 25%;
  width: 620px;
  bottom: auto;
  left: 31px;

  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(41, 52, 73, 0.75);
}

.popup--active {
  display: flex;
}

.popup__text {
  height: 170px;
  text-transform: none;
  font-size: 24px;
  line-height: 170px;
  font-weight: 700;
  margin: 0 auto;
}

.popup__text::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;

  width: 66px;
  height: 66px;

  background-image: url('../img/icons/icon-mark.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.popup__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 102px;
  background-color: #f1f1f1;

  padding-bottom: 10px;
}

.btn--checkout {
  padding: 10px 40px 10px 55px;
  margin-right: 10px;
}

.btn--white {
  cursor: pointer;
  padding: 10px 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.btn--white:hover,
.btn--white:focus {
  background-color: #e5e5e5;
}

.btn--white:active {
  color: var(--basic-white);
  background-color: var(--basic-greylight);
}

/* Animations */
@keyframes activeForm {
  0% {
    transform: translateY(-2000px);
  }

  50% {
    transform: translateY(-500px);
  }

  70% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shakeInput {
  0% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
