@font-face {
  font-family: "Cuprum";
  font-display: swap;
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  font-display: swap;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  font-display: swap;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  font-display: swap;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

/* variables */
:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-bg: #F1F5F7;
  --basic-bg-dark: #293449;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #32425C;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;

  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --click: #161D29;
  --buy-click: #518534;
  --bookmark-click: #D8D8D8;
  --hover: #CA2C37;
  --line-through: #A9A9A9;
  --nav-click: #1D2739;
  --greylight: #EAEAEA;
  --bg-section: #F9F5F0;
  --address: #F3F7F9;
  --bg-icon: #212A3A;
  --modal: #F4F4F4;
  --filter-bg: #F7F3EC;
}

/* global */
.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-width: 940px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page__body a {
  text-decoration: none;
}

.page__body img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page__body ul {
  list-style: none;
}

.invisible {
  display: none; /* скрытый h1 из index.html */
}

/* containers */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  background-color: var(--basic-bg-dark);
  margin-bottom: 40px;
}

/* header */
.header {
  display: grid;
  grid-template-rows: 1fr min-content;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: var(--basic-bg);
  text-transform: none;
  margin-bottom: 59px;
}

.header__inner {
  margin-bottom: 21px;
}

.header__top {
  display: flex;
}

.logo {
  background-color: var(--basic-red);
  padding: 15px 56px;
  border-bottom: 5px solid var(--error);
}

.logo:active {
  background-color: var(--error);
}

.logo__img {
  fill: var(--basic-white);
  vertical-align: bottom;
  width: 108px;
  height: 18px;
}

/* header search */
.header__search input {
  width: 290px;
  border: none;
  background-color: transparent;
  outline: none;
  margin-top: 20px;
}

.header__search input::placeholder {
  color: var(--basic-white);
}

.header__search input:focus {
  background-color: var(--basic-white);
}

/* header carts */
.header__carts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 450px;
  padding: 0;
  margin: 0;
}

.header__carts a {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 16px;
  padding-left: 19px;
  color: var(--basic-white);
}

.header__carts .active {
  background-color: var(--basic-red);
}

.header__cart:active {
  background-color: var(--click);
}

.header__cart--arrange {
  background-color: var(--basic-green);
}

.header__cart--arrange:hover,
.header__cart--arrange:focus {
  background-color: var(--success);
}

.header__cart--arrange:active {
  background-color: var(--basic-green);
}

/* header info */
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}


.header__text {
  width: 250px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: var(--basic-red);
  margin: 0;
}

/* header contact */
.header__contact {
  text-align: center;
}

.header__phone {
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 50px;
  padding-left: 74px;
}

.header__address {
  margin: 3px 0 0 0; /* margin-top */
  font-size: 14px;
  color: var(--basic-blue);
}

/* header user profile */
.user__profile {
  display: flex;
  align-items: center;
  background-color: var(--basic-white);
}

.user__icon {
  width: 20px;
  height: 18px;
  fill: #C5C5C5;
  padding: 15px;
}

.user__link {
  display: flex;
  align-items: center;
}

.user__name {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin: 0;
  padding: 12px 20px;
}

.user__link:hover .user__icon,
.user__name:hover .user__icon,
.user__link:focus .user__icon,
.user__name:focus .user__icon {
  fill: var(--basic-grey);
}

.user__link:active .user__icon {
  fill: var(--basic-greylight);
}

.user__name:active {
  color: var(--basic-greylight);
}

.user__btn {
  font-size: 16px;
  text-align: center;
}

.user__btn a {
  color: var(--basic-blue);
}

.user__btn a:nth-child(2) {
  margin-left: 30px;
}

.user__btn a:hover,
.user__btn a:focus {
  color: var(--basic-red);
}

.user__btn a:active {
  color: var(--basic-greylight);
}

.header__logout--icon {
  width: 20px;
  height: 17px;
  fill: #C5C5C5;
  padding: 15px;
}

.header__logout--btn:hover .header__logout--icon,
.header__logout--btn:focus .header__logout--icon {
  fill: var(--basic-grey);
}

.header__logout--btn:active .header__logout--icon {
  fill: var(--basic-greylight);
}

.header__btn a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header__btn a:hover {
  color: var(--basic-red);
}

.header__btn a:active {
  color: var(--basic-greylight);
}

.header__btn--login {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 47px;
  padding-right: 27px;
}

.header__btn--reg {
  padding: 12px 24px;
}

/* header nav */
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin-bottom: 60px;
  background-color: var(--basic-blue);
  border-bottom: 5px solid var(--basic-bg-dark);
}

.navigation__items {
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation__link {
  color: var(--basic-white);
  padding-top: 17px;
  padding-bottom: 22px;
  padding-right: 25px;
  padding-left: 25px;
}

.navigation__link:hover,
.navigation__link:focus {
 background-color: var(--basic-bg-dark);
}

.navigation__link:active {
  opacity: .5;
  background-color: var(--nav-click);
}

/* main grid */
 .main__grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: repeat(3, min-content);
}

/* title */
.title {
  order: 1;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue);
  background-color: var(--basic-bg);
  padding: 30px 0 30px 0;
}

/* breadcrumbs */
.breadcrumbs {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumbs__icon {
  width: 14px;
  height: 12px;
  fill: #C1C6CE;
}

.breadcrumbs__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  margin-right: 40px;
}

.breadcrumbs__item:last-child a {
  margin-right: 0;
}

/* filters */
.filters {
  width: 220px;;
}

.filters__title,
.filter__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--filter-bg);
}

.filters__title {
  padding: 10px 151px 10px 18px;
  margin: 0 0 15px 0;
}

/* cards filter */
.cards__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 38px;
  margin: 0 0 32px 20px; /* margin bottom left */
  background-color: var(--filter-bg);
}

.cards__filter h3 {
  margin-left: 19px;
  margin-right: 99px;
}

.cards__filters__items {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  padding: 0;
  margin: 0;
}

.cards__filters__item:nth-child(2) {
  margin-left: 70px;
}
.cards__filters__item:nth-child(3) {
  margin-left: 65px;
}
.cards__filters__item:nth-child(4) {
  margin-left: 46px;
}
.cards__filters__item:nth-child(5) {
  margin-right: 17px;
  margin-left: 21px;
}

.cards__filters__item:nth-child(4) .cards__filters__link,
.cards__filters__item:nth-child(5) .cards__filters__link {
  border-bottom: none;
}

.cards__filters__link {
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);
  color: rgba(0, 0, 0, .3);
}

.cards__filters__link:hover,
.cards__filters__link:focus {
  color: var(--basic-black);
}

.cards__filters__link:active {
  border-bottom: none;
  color: var(--basic-red);
}

.cards__filters__link--active {
  border-bottom: none;
  color: var(--basic-red);
}

/* form filter */
.filter {
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter fieldset {
  border: none;
  padding: 0;
}

.filter fieldset:nth-child(1),
.filter fieldset:nth-child(2) {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.filter fieldset:nth-child(1) {
  margin: 0 0 16px 0; /* margin bottom */
}

.filter fieldset:nth-child(2) {
  margin-bottom: 18px;
}

.filter fieldset:nth-child(3) {
  margin: 0 0 35px 0; /* margin bottom */
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter__title--price {
  margin-bottom: 11px;
}

.filter__title--company {
  margin-bottom: 15px;
}

.filter__title--power {
  margin-bottom: 20px;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
}

.filter__btn {
  padding: 10px 79px;
  cursor: pointer;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  background-color: transparent;
}

.filter__btn:hover,
.filter__btn:focus {
  border-color: var(--basic-greylight);
}

.filter__btn:active {
  border-color: var(--basic-red);
}

/* filter range*/
.filter__range--wrap {
  width: 220px;
  height: 80px;
  background-color: var(--filter-bg);
}

.filter__range input[type="text"] {
  width: 95px;
  height: 38px;
  text-align: center;
  background-color: var(--filter-bg);
  border: none;
}

.filter__range input[type="text"]:focus::placeholder {
 opacity: 0;
}

.filter__range span {
  color: #444444;
}

/* filter checkbox */
.filter__checkbox {
  padding: 0;
  margin: 0;
}

/* filter radio */
.filter__radio {
  padding: 0;
  margin: 0;
}

/* product */
.product {
  margin-bottom: 59px;
}

.product h2 {
  display: none;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
  color: var(--basic-white);
  padding: 0;
  margin: 0;
}

.product__item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--special-yellow);
}

.product__item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--special-blue);
}

.product__item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: var(--special-lilac);
}

.product__item:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: var(--special-greenlight);
}

.product__item:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: var(--special-yellow);
}

.product__sliders {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.product__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
}

.product__btn {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, .3);
}

.product__slider__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.product__slider__text {
  text-transform: none;
}

.btn--slider {
  line-height: 38px;
  padding: 10px 46px;
}

/* label new */
.new {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: -29px;
  padding: 8px 40px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);

  transform: rotate(45deg);
}

.new--active {
  opacity: 1;
}

/* button */
.btn {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--hover);
}

.btn:active {
  background-color: var(--error);
}

/* cards */
.section__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-section);
  margin-bottom: 20px;
}

.section__title h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  padding-left: 28px;
}

.btn--title {
  width: 192px;
  height: 38px;
  line-height: 38px;
  margin-right: 14px;
  text-align: center;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  padding: 0;
  margin: 0 0 48px 20px; /* margin bottom, left */
}

.cards__list--preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}

/* card */
.card {
  position: relative;
  overflow: hidden;

  max-width: 220px;
  padding: 25px 0 21px 0;
  border: 1px solid var(--greylight);
  text-align: center;
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card--preview {
  width: 220px;
}
.card--preview:first-child {
  margin-left: 0;
}

.card__wrapper {
  width: 220px;
  height: 159px;
}

.card__wrapper--btn {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover .card__wrapper--btn {
  opacity: 1;
}

.card:hover .card__wrapper--img {
  opacity: 0;
}

.card__img {
  margin: 0 auto;
}

.card__title {
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0 30px;
  margin: 0 0 7px 0; /* margin bottom */
}

.card__price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: var(--line-through);
  margin: 0 0 13px 0; /* margin bottom */
}

.card__btn {
  position: relative;
  width: 122px;
  height: 38px;
  border-radius: 2px;
  font-size: 17px;
}

.card__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
	border-top: 19px solid transparent;
	border-left: 19px solid var(--basic-red);
	border-bottom: 19px solid transparent;
}

.card__btn:hover::after,
.card__btn:focus::after {
  border-left: 19px solid var(--hover);
}

.card__btn:active::after {
  border-left: 19px solid var(--error);
}

.card__buy {
  padding: 10px 45px;
  margin-bottom: 10px;

  text-transform: uppercase;
  background-color: var(--basic-green);
  border-radius: 2px;
  border-bottom: 3px solid var(--buy-click);
}

.card__buy:hover {
  background-color: var(--success);
}

.card__buy:active {
  background-color: var(--buy-click);
}

.card__bookmark {
  padding: 10px 29px;

  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.card__bookmark:hover {
  border-color: var(--basic-blue);
  background-color: var(--basic-white);
}

.card__bookmark:active {
  color: var(--bookmark-click);
  border-color: var(--bookmark-click);
  background-color: var(--basic-white);
}

/* company */
.company {
  margin-bottom: 70px;
}

.company__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
}

.company__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  border: 1px solid var(--greylight);
}

.company__item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.company__item:active {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  opacity: .5;
}

/* services */
.services {
  background-color: var(--basic-bg);
}

.services__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  margin-bottom: 25px;
}

.services__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
  text-transform: none;
  margin-bottom: 70px;
  margin-right: 50%;
}

/* services__sliders */
.services__sliders {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.services__slider:nth-child(1) {
  width: 240px;
  grid-column: 1 / 2;
  background-color: var(--basic-blue);
  padding: 0;
  margin: 0;
  margin-right: 80px;
}

.services__slider:nth-child(2) {
  grid-column: 2 / -1;
  padding: 0;
  margin: 0;
}

.services__slider__btn {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: inherit;
  text-align: left;
}

.services__slider__btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-bg-dark);
}

.services__slider__btn:active,
.services__slider__btn:focus {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.services__slider__content h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-blue);
}

.services__slider__content p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: var(--basic-black);
}

.btn--credit {
  text-transform: uppercase;
}

/*grid */
.grid {
  display: grid;
  grid-template-columns:1fr 300px;
  margin-bottom: 70px;
}

/* about */
.about {
  grid-column: 1 / 2;
}

.about,
.contact {
  color: var(--basic-black);
}

.about h2,
.contact h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 24px;
}

.about p,
.contact p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.about__text {
  margin-right: 140px;
}

.about .about__partners {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  padding-left: 37px;
  margin: 0;
}

.about__item {
  margin-bottom: 12px;
}

.about__item:last-child {
  margin-bottom: 20px;
}

.about__item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about__item:nth-child(2)::before {
  top: 42px;
}

.about__item:nth-child(3)::before {
  top: 74px;
}

.btn--about {
  line-height: 38px;
  padding: 10px 46px;
}

/* contact */
.contact p {
  margin-top: 0;
  margin-bottom: 32px;
}

.contact__map {
  display: block;
  margin-bottom: 29px;
}

.btn--contact {
  line-height: 38px;
  padding: 10px 61px;
}

/* pagination */
.pagination {
  grid-column: 2 / -1;
  grid-row: 5 / 6;
  display: flex;
  padding: 0;
  margin: 0 0 59px 20px; /* margin bottom left */
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 10px;
}

.pagination__item:last-child {
  width: 140px;
  height: 38px;
  margin-right: 0;
}

.pagination__item:hover,
.pagination__item:focus {
  border-color: var(--basic-greylight);
}

.pagination__item:active {
  border-color: var(--basic-red);
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  width: 38px;
  height: 38px;
  color: var(--basic-black);
}

.pagination__active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* description */
.description {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  color: var(--basic-black);
  background-color: var(--basic-bg);
  padding: 64px 0 68px 0;
}

.description h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.description p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
}

/* footer */
.footer {
  text-transform: none;
}

.footer__top {
  background-color: var(--basic-blue);
}

.footer__top--grid {
  display: grid;
  grid-template-columns: 350px 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.footer__logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-right: 174px;
  margin-bottom: 22px;
}

.footer__nav {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.nav__item {
  margin-left: 58px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  color: var(--basic-bg)
}

.footer__address {
  font-style: normal;
  color: var(--address);
  margin-bottom: 54px;
}

/* footer subnav */
.footer__subnav {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
}

.subnav__item {
  margin-left: 58px;
}

.subnav__item:first-child {
  margin-left: 0;
}

.subnav__link {
  color: var(--special-yellowlight);
}

.nav__link:hover,
.subnav__link:hover {
  text-decoration: underline;
}

.nav__link:focus,
.nav__link:active,
.subnav__link:focus,
.subnav__link:active {
  opacity: .5;
}

/* footer bottom */
.footer__bottom {
  background-color: var(--basic-bg-dark);
}

.footer__bottom--grid {
  display: flex;
  align-items: center;
}

.footer__copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0 162px 0 0; /* margin-right */
}

/* social */
.social {
  display: flex;
  padding: 0;
}

.social__icon:nth-child(2) {
  margin: 0 1px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--bg-icon);
  border-radius: 50%;
}

.social__link:hover {
  background-color: var(--basic-red)
}

.social__vk {
  display: block;
  fill: #fff;
  height: 16px;
}

.social__fb {
  display: block;
  fill: #fff;
  height: 22px;
}

.social__inst {
  display: block;
  fill: #fff;
  height: 21px;
}

.footer__contact {
  margin-left: 118px;
}

.footer__developer {
  margin-left: 51px;
}

.footer__contact,
.footer__developer {
  font-size: 16px;
  color: var(--basic-white);
}

.footer__contact a,
.footer__developer a {
  color: var(--special-yellowlight);
}

.footer__contact a:hover,
.footer__developer a:hover {
  text-decoration: underline;
}

.footer__contact a:focus,
.footer__developer a:focus,
.footer__contact a:active,
.footer__developer a:active {
  color: var(--basic-red);
}

/* modal */
.modal {
  width: 943px;
  height: 449px;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}


/* form */
.form {
  width: 620px;
  height: 430px;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  text-transform: none;
  margin: 100px 0; /* не забыть убрать */
}

.form input,
.form textarea {
  margin-top: 11px;
}

.form__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 73px 1fr;
  gap: 20px;
  margin-bottom: 37px;
  padding: 37px 80px;
}

.form__name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.form__email {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.form__message {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
}

.form__bottom {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 112px;
  background-color: var(--modal);
}

.form input,
.form textarea {
  border: 2px solid var(--line-through);
  border-radius: 2px;
}


.form input::placeholder,
.form textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--line-through);
}

.btn--submit {
  width: 460px;
  height: 38px;
  text-transform: uppercase;
}

.btn--close {
  display: none; /* крестик от формы */
}

/* popup */
.popup {
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 282px;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
}

.popup__text {
  height: 170px;
  text-transform: none;
  font-size: 24px;
  line-height: 170px;
  font-weight: 700;
  margin: 0 auto;
}

.popup__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.btn--checkout {
  padding: 10px 45px;
  margin-right: 10px;
}

.btn--white {
  cursor: pointer;
  padding: 10px 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.btn--white:hover,
.btn--white:focus {
  background-color: #e5e5e5;
}

.btn--white:active {
  color: var(--basic-white);
  background-color: var(--basic-greylight);
}
